    .about-us {
        background-image: url("../images/background.jpg");
        height: 80vh;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        position: relative;
        z-index: 0;
    }

    @media(max-width: 767px) {
        .about-us {
            margin: -40px 0px;
        }
    }

    .about-us::after {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .about-us__header {
        max-width: 900px;
        font-size: 50px;
        text-align: center;
        font-weight: 900;
    }

    @media(max-width: 767px) {
        .about-us__header {
            font-size: 40px;
        }
    }

    .about-us__paragraph {
        max-width: 500px;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        margin-top: 20px;
        line-height: 2;
        margin: 10px;
    }

    .about-us__button {
        border: 2px solid #fb414e;
        margin: 40px 10px;
        background: none;
        color: white;
        padding: 10px 30px;
        font-weight: 900;
    }

    @media(max-width: 767px) {
        .about-us__buttons {
            display: flex;
        }
    }

    .container-bg-color {
        background: #fb414e;
    }

    .about-us__button:hover {
        background: black;
        transition: 0.3s;
        cursor: pointer;
    }